.nav {
  background-color: darkgray;
  color: white;
}

.select-type {
  background-color: darkgray;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
}

.search-btn {
  margin: 10px;
  padding: 12px;
  font-size: 17px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
